@font-face {
  font-family: Almarena;
  src: url(/fonts/Almarena-Almarena.otf) format("opentype");
}

@font-face {
  font-family: AlmarenaDisplayBold;
  src: url(/fonts/Almarena-Almarena-Display-Bold.otf) format("opentype");
}

@font-face {
  font-family: AlmarenaDisplayLight;
  src: url(/fonts/Almarena-Almarena-Display-Light.otf) format("opentype");
}

@font-face {
  font-family: AlmarenaDisplayRegular;
  src: url(/fonts/Almarena-Almarena-Display-Regular.otf) format("opentype");
}

@font-face {
  font-family: AlmarenaLight;
  src: url(/fonts/Almarena-Almarena-Light.otf) format("opentype");
}

body,
html {
  font-family: Almarena !important;
  height: 100%;
  width: 100%;
  margin: 0;
}

:root {
  --alt-school-banner-color: rgb(255, 246, 238);
  --alt-shchool-form-heading-color: rgb(11, 30, 75);
}

.container {
}

.banner {
  background-color: var(--alt-school-banner-color);
  padding: 20px;
  height: 100vh;
}

.banner-heading {
  font-size: 35px;
}

.banner-shape-1 {
  padding: 0 !important;
  margin: 0 !important;
  transform: translate(20px, -100px);
}

.form {
  padding: 30px;
}
form {
  width: 90% !important;
}
.form-heading {
  font-size: 2rem;
}

input,
select {
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
}
.form-group {
  margin: 10px;
}

/* Media Query */

@media screen and (max-width: 768px) {
  .banner {
    display: none;
  }
}
