/* Utility classes */

.h-screen {
  height: 100vh !important;
}

.w-screen {
  width: 100vw !important;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.hide {
  display: none !important;
}

/* Tailwind CSS equivalents */
.justify-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-evenly {
  justify-content: space-evenly !important;
}

.items-start {
  align-items: flex-start !important;
}

.items-end {
  align-items: flex-end !important;
}

.items-center {
  align-items: center !important;
}

.items-baseline {
  align-items: baseline !important;
}

.items-stretch {
  align-items: stretch !important;
}

.capitalize {
  text-transform: capitalize !important;
}
.required {
  color: red;
}
.overflow-x-hidden {
  overflow-x: hidden;
}

w-80 {
  width: 80% !important;
}
